/* Pseudo-classe - variáveis CSS personalizadas */
:root {
    --cian : #1498b9;
    --white: #FFF;
    --dark: #272626;
    --green: #11780F;
    --blue: #00098b;
    --grey: #D9D9D9;
    --dark-transparent: rgba(255,255,255,.5);
}

/* Seletor Universal - se aplica a todos os elementos da página */
* {                         
    margin: 0;
    padding: 0;
    font-family: cursive;
    text-align: center;
}

.card-header {
    background-image: linear-gradient(to right, var(--cian), var(--white));
}

.card-body {
    margin: 10px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.radio-buttons img {
    max-width: 60%;
    transition: .3s;
}

[type=radio] {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

[type=radio]:checked + button {
    background-color: var(--cian);
}

[type=radio] + .btn {
    cursor: pointer;
    margin-right: 0.5rem;
}

.choice-btn {
    width: 100px;
    height: 100px;
    border: 2px solid var(--cian);
    border-radius: 50%;
    background-color:var(--grey);
    cursor: pointer;
    transition: .3s;
}

label {
    position: relative;
}

.btn-play {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
}

.start-area {
    background-image: linear-gradient(to right, var(--cian), var(--white));
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-image img {
    max-width: 50%;
}

.reverse {
    transform: scaleX(-1);
}

#alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    background-color: var(--white);
    border: 2px solid var(--grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none; 
    z-index: 9999; 
}
